In [1]:
!python --version

Python 3.8.2

In [9]:
import os 
all_files_in_cur_dir = os.listdir('.') 
all_files_in_cur_dir

['.ipynb_checkpoints',
 '.~Analyze-NYC-TLC-Green-Car.ipynb',
 'Analyze-NYC-TLC-Green-Car.ipynb',
 'data',
 'green_tripdata_2019-01.csv',
 'keys',
 'markdown-memo.md',
 'nyc.tlc.taxi_zone_lookup.csv',
 'nyc_tlc_green-car_database.db',
 'playground.ipynb',
 'pyspark-aws-example',
 'shape',
 'taxi_zones.zip',
 'tlc.green_tripdata_2019-01.csv',
 'tlc.green_tripdata_2019-02.csv',
 'tlc.green_tripdata_2019-03.csv',
 'tlc.green_tripdata_2019-04.csv',
 'tlc.green_tripdata_2019-05.csv',
 'tlc.green_tripdata_2019-06.csv',
 'tlc.green_tripdata_2019-07.csv',
 'tlc.green_tripdata_2019-08.csv',
 'tlc.green_tripdata_2019-09.csv',
 'tlc.green_tripdata_2019-10.csv',
 'tlc.green_tripdata_2019-11.csv',
 'tlc.green_tripdata_2019-12.csv']

In [8]:
csvfileslist = list(filter(lambda x:(x[0:3] == 'tlc' and x[-4:] == '.csv'),all_files_in_cur_dir))
csvfileslist

['tlc.green_tripdata_2019-01.csv',
 'tlc.green_tripdata_2019-02.csv',
 'tlc.green_tripdata_2019-03.csv',
 'tlc.green_tripdata_2019-04.csv',
 'tlc.green_tripdata_2019-05.csv',
 'tlc.green_tripdata_2019-06.csv',
 'tlc.green_tripdata_2019-07.csv',
 'tlc.green_tripdata_2019-08.csv',
 'tlc.green_tripdata_2019-09.csv',
 'tlc.green_tripdata_2019-10.csv',
 'tlc.green_tripdata_2019-11.csv',
 'tlc.green_tripdata_2019-12.csv']

In [12]:
iter = filter(lambda x:(x[0:3] == 'tlc' and x[-4:] == '.csv'),all_files_in_cur_dir)
csvfileslist = list(iter)
csvfileslist

['tlc.green_tripdata_2019-01.csv',
 'tlc.green_tripdata_2019-02.csv',
 'tlc.green_tripdata_2019-03.csv',
 'tlc.green_tripdata_2019-04.csv',
 'tlc.green_tripdata_2019-05.csv',
 'tlc.green_tripdata_2019-06.csv',
 'tlc.green_tripdata_2019-07.csv',
 'tlc.green_tripdata_2019-08.csv',
 'tlc.green_tripdata_2019-09.csv',
 'tlc.green_tripdata_2019-10.csv',
 'tlc.green_tripdata_2019-11.csv',
 'tlc.green_tripdata_2019-12.csv']

In [18]:
iter = filter(lambda x:(x[0:3] == 'tlc' and x[-4:] == '.csv'),all_files_in_cur_dir)
csvfileslist = list(iter)
csvfileslist

['tlc.green_tripdata_2019-01.csv',
 'tlc.green_tripdata_2019-02.csv',
 'tlc.green_tripdata_2019-03.csv',
 'tlc.green_tripdata_2019-04.csv',
 'tlc.green_tripdata_2019-05.csv',
 'tlc.green_tripdata_2019-06.csv',
 'tlc.green_tripdata_2019-07.csv',
 'tlc.green_tripdata_2019-08.csv',
 'tlc.green_tripdata_2019-09.csv',
 'tlc.green_tripdata_2019-10.csv',
 'tlc.green_tripdata_2019-11.csv',
 'tlc.green_tripdata_2019-12.csv']

In [20]:
import os 
all_files_in_cur_dir = os.listdir('.') 
csvfileslist = list(filter(lambda x:(x[-4:] == '.csv'),all_files_in_cur_dir))
csvfileslist

['green_tripdata_2019-01.csv',
 'nyc.tlc.taxi_zone_lookup.csv',
 'tlc.green_tripdata_2019-01.csv',
 'tlc.green_tripdata_2019-02.csv',
 'tlc.green_tripdata_2019-03.csv',
 'tlc.green_tripdata_2019-04.csv',
 'tlc.green_tripdata_2019-05.csv',
 'tlc.green_tripdata_2019-06.csv',
 'tlc.green_tripdata_2019-07.csv',
 'tlc.green_tripdata_2019-08.csv',
 'tlc.green_tripdata_2019-09.csv',
 'tlc.green_tripdata_2019-10.csv',
 'tlc.green_tripdata_2019-11.csv',
 'tlc.green_tripdata_2019-12.csv']

In [29]:
import pandas as pd
import numpy as np
import urllib.request
import zipfile
import random
import itertools
import math
import shapefile
from shapely.geometry import Polygon
from descartes.patch import PolygonPatch
import matplotlib as mpl
import matplotlib.pyplot as plt
plt.style.use('ggplot')

In [23]:
!pip install pyshp

Collecting pyshp
  Downloading pyshp-2.1.0.tar.gz (215 kB)
Installing collected packages: pyshp
    Running setup.py install for pyshp: started
    Running setup.py install for pyshp: finished with status 'done'
Successfully installed pyshp-2.1.0

In [25]:
!pip install shapely

Collecting shapely
  Downloading Shapely-1.7.0-cp38-cp38-win_amd64.whl (1.0 MB)
Installing collected packages: shapely
Successfully installed shapely-1.7.0

In [26]:
!pip install descartes

Collecting descartes
  Downloading descartes-1.1.0-py3-none-any.whl (5.8 kB)
Collecting matplotlib
  Downloading matplotlib-3.2.0-cp38-cp38-win_amd64.whl (9.2 MB)
Collecting pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1
  Downloading pyparsing-2.4.6-py2.py3-none-any.whl (67 kB)
Collecting kiwisolver>=1.0.1
  Downloading kiwisolver-1.1.0-cp38-none-win_amd64.whl (57 kB)
Collecting cycler>=0.10
  Downloading cycler-0.10.0-py2.py3-none-any.whl (6.5 kB)
Requirement already satisfied: python-dateutil>=2.1 in c:\python\python38\lib\site-packages (from matplotlib->descartes) (2.8.1)
Requirement already satisfied: numpy>=1.11 in c:\python\python38\lib\site-packages (from matplotlib->descartes) (1.18.1)
Requirement already satisfied: setuptools in c:\python\python38\lib\site-packages (from kiwisolver>=1.0.1->matplotlib->descartes) (41.2.0)
Requirement already satisfied: six in c:\python\python38\lib\site-packages (from cycler>=0.10->matplotlib->descartes) (1.14.0)
Installing collected packages: pyparsing, kiwisolver, cycler, matplotlib, descartes
Successfully installed cycler-0.10.0 descartes-1.1.0 kiwisolver-1.1.0 matplotlib-3.2.0 pyparsing-2.4.6

WARNING: Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ReadTimeoutError("HTTPSConnectionPool(host='pypi.org', port=443): Read timed out. (read timeout=15)")': /simple/descartes/

In [28]:
!pip install matplotlib

Requirement already satisfied: matplotlib in c:\python\python38\lib\site-packages (3.2.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\python\python38\lib\site-packages (from matplotlib) (1.1.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in c:\python\python38\lib\site-packages (from matplotlib) (2.4.6)
Requirement already satisfied: numpy>=1.11 in c:\python\python38\lib\site-packages (from matplotlib) (1.18.1)
Requirement already satisfied: python-dateutil>=2.1 in c:\python\python38\lib\site-packages (from matplotlib) (2.8.1)
Requirement already satisfied: cycler>=0.10 in c:\python\python38\lib\site-packages (from matplotlib) (0.10.0)
Requirement already satisfied: setuptools in c:\python\python38\lib\site-packages (from kiwisolver>=1.0.1->matplotlib) (41.2.0)
Requirement already satisfied: six>=1.5 in c:\python\python38\lib\site-packages (from python-dateutil>=2.1->matplotlib) (1.14.0)

In [30]:
!pip install descartes

Requirement already satisfied: descartes in c:\python\python38\lib\site-packages (1.1.0)
Requirement already satisfied: matplotlib in c:\python\python38\lib\site-packages (from descartes) (3.2.0)
Requirement already satisfied: numpy>=1.11 in c:\python\python38\lib\site-packages (from matplotlib->descartes) (1.18.1)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\python\python38\lib\site-packages (from matplotlib->descartes) (1.1.0)
Requirement already satisfied: python-dateutil>=2.1 in c:\python\python38\lib\site-packages (from matplotlib->descartes) (2.8.1)
Requirement already satisfied: cycler>=0.10 in c:\python\python38\lib\site-packages (from matplotlib->descartes) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in c:\python\python38\lib\site-packages (from matplotlib->descartes) (2.4.6)
Requirement already satisfied: setuptools in c:\python\python38\lib\site-packages (from kiwisolver>=1.0.1->matplotlib->descartes) (41.2.0)
Requirement already satisfied: six>=1.5 in c:\python\python38\lib\site-packages (from python-dateutil>=2.1->matplotlib->descartes) (1.14.0)

In [31]:
df1 = pd.DataFrame(np.ones((3,4))*0,columns=['a','b','c','d'])
df2 = pd.DataFrame(np.ones((3,4))*1,columns=['a','b','c','d'])
df3 = pd.DataFrame(np.ones((3,4))*2,columns=['a','b','c','d'])
df4 = pd.DataFrame(np.ones((3,4))*0,columns=['a','b','c','d'],index=[1,2,3])
df5 = pd.DataFrame(np.ones((3,4))*1,columns=['b','c','d','e'],index=[2,3,4])

In [32]:
df1

     a    b    c    d
0  0.0  0.0  0.0  0.0
1  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0

In [33]:
df2

     a    b    c    d
0  1.0  1.0  1.0  1.0
1  1.0  1.0  1.0  1.0
2  1.0  1.0  1.0  1.0

In [34]:
df3

     a    b    c    d
0  2.0  2.0  2.0  2.0
1  2.0  2.0  2.0  2.0
2  2.0  2.0  2.0  2.0

In [35]:
df4

     a    b    c    d
1  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0
3  0.0  0.0  0.0  0.0

In [36]:
res = pd.concat([df1,df2,df3],axis=0,ignore_index=True)
res

     a    b    c    d
0  0.0  0.0  0.0  0.0
1  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0
3  1.0  1.0  1.0  1.0
4  1.0  1.0  1.0  1.0
5  1.0  1.0  1.0  1.0
6  2.0  2.0  2.0  2.0
7  2.0  2.0  2.0  2.0
8  2.0  2.0  2.0  2.0

In [39]:
res = pd.concat([df4,df5],axis=1)
res

     a    b    c    d    b    c    d    e
1  0.0  0.0  0.0  0.0  NaN  NaN  NaN  NaN
2  0.0  0.0  0.0  0.0  1.0  1.0  1.0  1.0
3  0.0  0.0  0.0  0.0  1.0  1.0  1.0  1.0
4  NaN  NaN  NaN  NaN  1.0  1.0  1.0  1.0

In [41]:
res = pd.concat([df4,df5],join='outer',ingore_index=true)

NameError: name 'true' is not defined

In [42]:
res = df1.append([df2,df3,df5],ignore_index=True)
res

      a    b    c    d    e
0   0.0  0.0  0.0  0.0  NaN
1   0.0  0.0  0.0  0.0  NaN
2   0.0  0.0  0.0  0.0  NaN
3   1.0  1.0  1.0  1.0  NaN
4   1.0  1.0  1.0  1.0  NaN
5   1.0  1.0  1.0  1.0  NaN
6   2.0  2.0  2.0  2.0  NaN
7   2.0  2.0  2.0  2.0  NaN
8   2.0  2.0  2.0  2.0  NaN
9   NaN  1.0  1.0  1.0  1.0
10  NaN  1.0  1.0  1.0  1.0
11  NaN  1.0  1.0  1.0  1.0

In [43]:
left = pd.DataFrame({'key1': ['K0', 'K0', 'K1', 'K2'],
                     'key2': ['K0', 'K1', 'K0', 'K1'],
                     'A': ['A0', 'A1', 'A2', 'A3'],
                      'B': ['B0', 'B1', 'B2', 'B3']})

In [44]:
right = pd.DataFrame({'key1': ['K0', 'K1', 'K1', 'K2'],
                     'key2': ['K0', 'K0', 'K0', 'K0'],
                       'C': ['C0', 'C1', 'C2', 'C3'],
                       'D': ['D0', 'D1', 'D2', 'D3']})

In [45]:
left

  key1 key2   A   B
0   K0   K0  A0  B0
1   K0   K1  A1  B1
2   K1   K0  A2  B2
3   K2   K1  A3  B3

In [46]:
right

  key1 key2   C   D
0   K0   K0  C0  D0
1   K1   K0  C1  D1
2   K1   K0  C2  D2
3   K2   K0  C3  D3

In [47]:
result = pd.merge(left, right, on=['key1', 'key2'])

In [48]:
result

  key1 key2   A   B   C   D
0   K0   K0  A0  B0  C0  D0
1   K1   K0  A2  B2  C1  D1
2   K1   K0  A2  B2  C2  D2

In [49]:
result = pd.merge(left, right, how='left', on=['key1', 'key2'])
result

  key1 key2   A   B    C    D
0   K0   K0  A0  B0   C0   D0
1   K0   K1  A1  B1  NaN  NaN
2   K1   K0  A2  B2   C1   D1
3   K1   K0  A2  B2   C2   D2
4   K2   K1  A3  B3  NaN  NaN

In [50]:
result = pd.merge(left, right, how='outer', on=['key1', 'key2'])

In [51]:
result

  key1 key2    A    B    C    D
0   K0   K0   A0   B0   C0   D0
1   K0   K1   A1   B1  NaN  NaN
2   K1   K0   A2   B2   C1   D1
3   K1   K0   A2   B2   C2   D2
4   K2   K1   A3   B3  NaN  NaN
5   K2   K0  NaN  NaN   C3   D3

In [53]:
left = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                      'B': ['B0', 'B1', 'B2', 'B3'],
                     'key': ['K0', 'K1', 'K0', 'K1']})
left

    A   B key
0  A0  B0  K0
1  A1  B1  K1
2  A2  B2  K0
3  A3  B3  K1

In [54]:
 right = pd.DataFrame({'C': ['C0', 'C1'],
                       'D': ['D0', 'D1']},
                      index=['K0', 'K1'])
right

     C   D
K0  C0  D0
K1  C1  D1

In [55]:
result = left.join(right, on='key')
result

    A   B key   C   D
0  A0  B0  K0  C0  D0
1  A1  B1  K1  C1  D1
2  A2  B2  K0  C0  D0
3  A3  B3  K1  C1  D1

In [57]:
result = pd.merge(left, right, on='key', suffixes=['_l', '_r'])
result

KeyError: 'key'

In [64]:
left =pd.DataFrame({'k': ['k0', 'k1', 'k2'],
                    'v':[1,2,3]})
right = pd.DataFrame({'k': ['k0', 'k0', 'k3'],
                            'v': [4,5, 6]})
result = pd.merge(left, right, on='k', suffixes=['_l', '_r'])
result

    k  v_l  v_r
0  k0    1    4
1  k0    1    5

In [67]:
right2 = pd.DataFrame({'v': [7, 8, 9]}, index=['K1', 'K1', 'K2'])
right2

    v
K1  7
K1  8
K2  9

In [79]:
left =pd.DataFrame({'v':[1,2,3]},index=['K0', 'K1', 'K2'],)
left

    v
K0  1
K1  2
K2  3

In [77]:
right2 = pd.DataFrame({'v': [7, 8, 9]}, index=['K1', 'K1', 'K2'])
right2

    v
K1  7
K1  8
K2  9

In [80]:
pd.DataFrame({'v': [7, 8, 9]}, index=['K1', 'K1', 'K2'])
result = left.join([right, right2])
result

    v_x    k  v_y    v
K0    1  NaN  NaN  NaN
K1    2  NaN  NaN  7.0
K1    2  NaN  NaN  8.0
K2    3  NaN  NaN  9.0